<section class="fare-calculator">
  <label for="remaining">
    <h3>Remaining balance</h3>
    <input name="remaining" type="number" ng-model="FareCalculatorController.remainingBalance" ng-model-options="{debounce : 250}" ng-change="FareCalculatorController.updatePurchaseAmounts()" placeholder="0.00"/>
  </label>

  <label for="max">
    <h3>Max to spend</h3>
    <input name="max" type="number" ng-model="FareCalculatorController.purchaseMaximum" ng-model-options="{debounce : 250}" placeholder="40.00"/>
  </label>

  <ul ng-if="FareCalculatorController.remainingBalance" class="purchase-amounts">
    <li ng-repeat="purchase in FareCalculatorController.purchaseAmounts" class="purchase-amount">
      <span ng-bind="purchase.amount" class="amount"></span> for <span ng-bind="purchase.rides"></span> rides
    </li>
  </ul>

  <p ng-if="!FareCalculatorController.remainingBalance">
    Enter your MetroCard's remaining balance to calculate the exact amount to put on it. No nickels and dimes wasted.
  </p>
</section>